body{
    background-image: url( desktop-wallpaper-one-piece-black-and-white-dark-luffy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: rgb(255, 8, 8);
    font-size: 40px;
}
